{% extends 'base.html' %}

{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">Blood Group</th>
        <th scope="col">District</th>
        <th scope="col">Last Donate</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    {% for i in alldonar %}
    <tbody>
        <tr>
          <th scope="row">{{i.id}}</th>
          <td>{{i.user.username}}</td>
          <td>{{i.phone}}</td>
          <td>{{i.email}}</td>
          <td>{{i.bloodgroup.name}}</td>
          <td>{{i.district}}</td>
          <td>{% if i.last_donate %} {{i.last_donate|timesince }} ago  {% else %} No donate {% endif %}</td>
          <td>
            <a href="" class="btn btn-warning btn-sm">Edit</a>
            <a href="" class="btn btn-danger btn-sm">Delete</a>
          </td>
        </tr>
       
        
      </tbody>
    {% endfor %}
  </table>
{% endblock content %}