{% extends "base.html" %}
{% block dashbord %}
Blood Request Form
{% endblock dashbord %}
{% block content %}
<h4 class="alert alert-success text-center"> Request Blood Form</h4>
  <div class="container">
    
      <div class="row">
        
          <div class="col-sm-3"></div>
          <div class="col-sm-6">
            <form action="" method="POST" class="shadow-lg p-5 mb-5 rounded bg-info" novalidate>
                {% csrf_token %}
                {% if messages %}
                {% for message in messages %}
                 <p {% if message.tags %} class="{{message.tags}}  alert alert-success text-center"  {% endif%}> {{message}}</p>
                {% endfor %}
                {% endif %} 
                 {{forms.as_p}}
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
          </div>
          <div class="col-sm-3"></div>
      </div>
  </div>
{% endblock content %}