{% extends "base.html" %}
{% load static %}

{% block dashbord %}
  Creat Post
{% endblock dashbord %}

{% block content %}
<h4 class="alert alert-primary text-center"> Create Your Post Here</h4>
<div class="container">
    
    <div class="row">
      
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <form action="" method="POST" enctype='multipart/form-data' class="shadow-lg p-5 mb-5 rounded" novalidate>
              {% csrf_token %}
              {% if messages %}
              {% for message in messages %}
               <p {% if message.tags %} class="{{message.tags}}  alert alert-success text-center"  {% endif%}> {{message}}</p>
              {% endfor %}
              {% endif %} 
               {{forms.as_p}}
              <input type="submit" value="Submit" class="btn btn-primary">
          </form>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>

  </form>
  <script>
    var name= "{{user.first_name}}";
    document.getElementById("next").value
      = name;
  
  </script>
{% endblock content %}