<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
   
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title> Dashboard </title> <link href="{% static 'css/bootstrap.min-1.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'font/fontawesome-free-5.15.4-web/css/all.min.css' %}">
     <link href="{% static 'css/style.css'%}" rel="stylesheet">
     <link rel="stylesheet" href="{% static 'css/dashboardstyle.css' %}">
    
   
</head>
<body>
 <section class="bg-danger fixed-top" >
  <div class="container">
    <div class="row">
      <div class="text col-lg-4 col-md-4 col-sm-4 col-2 ">
        <h3>Blood Donar</h3>
      </div>


      
      <div class="col-lg-4 offset-lg-4 col-md-4 offset-4 col-sm-4 col-4 " >
        <div class="navbar navbar-expand  ">
 
        <div class="navbar-collapse collapse ">
               <ul class="navbar-nav ml-auto">
                  
                 <li class="nav-item dropdown">
                     
                   <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button"
                   aria-haspopup="true" aria-expanded="false">
                   
                       <img class="rounded-circle" style="width:40px;height:40px;"  src="http://i.stack.imgur.com/SBv4T.gif" class="img-avatar" alt="">
                   </a>
                   <div class="dropdown-menu dropdown-menu-right">
                       <div class="dropdown-header text-center">
                           <strong>Account</strong>
                       </div>
                       
                       <a class="dropdown-item" href=""><i class="fa fa-user"></i> Profile</a>
                       <a class="dropdown-item" href=""><i class="fas fa-quidditch"></i>Creat Post</a>
                       <a class="dropdown-item" href=""><i class="fa fa-wrench"></i> Settings</a>
                       
                       <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
                   </div>
               </li>
               </ul>
           </div>
        </div>
      </div>
    </div>
  </div>
</section>   
     <!-- <nav >
        

        <div class="menu-items">
            <ul class="nav-links">
         <li><a style="text-decoration:none;" href="{% url 'admin_dashboard'%}"><i class="fas fa-home"></i> <span class="link-name">Home</span>  </a></li>
          <li><a style="text-decoration:none;" href="{% url 'all-donars'%}"><i class="fas fa-hand-holding-medical"></i> <span class="link-name">All Donar List</span></a></li>
          <li><a style="text-decoration:none;" href="{% url 'donation-status'%}"><i class="fas fa-hand-holding-medical"></i><span class="link-name">Donate Blood</span></a></li>
          <li><a style="text-decoration:none;" href="{% url 'request_status' %}"><i class="fas fa-hand-holding-medical"></i><span class="link-name">Request Blood</span></a></li>
          <li><a style="text-decoration:none;" href="{% url 'bloog_post' %}"><i class="fas fa-hand-holding-medical"></i><span class="link-name">Blog Post</span></a></li>
            </ul>
            
            <ul class="logout-mode">
                <li><a href="{% url 'logout' %}">
                    <i class="fa fa-logout"></i>
                    <span class="link-name">Logout</span>
                </a></li>

            
            </ul>
        </div>
    </nav>  -->
    <nav id="nav">
       

        <div class="menu-items">
            <ul class="nav-links">
                <li><a style="text-decoration:none;" href="{% url 'admin_dashboard'%}"><i class="fas fa-home"></i> <span class="link-name">Home</span>  </a></li>
                 <li><a style="text-decoration:none;" href="{% url 'all-donars'%}"><i class="fas fa-users"></i> <span class="link-name">All Donar List</span></a></li>
                 <li><a style="text-decoration:none;" href="{% url 'donation-status'%}"><i class="fas fa-hand-holding-medical"></i><span class="link-name">Donate Blood</span></a></li>
                 <li><a style="text-decoration:none;" href="{% url 'request_status' %}"><i class="fas fa-minus-circle"></i><span class="link-name">Request Blood</span></a></li>
                 <!-- <li><a style="text-decoration:none;" href="{% url 'bloog_post' %}"><i class="fas fa-hand-holding-medical"></i><span class="link-name">Blog Post</span></a></li> -->
                   </ul>
            
            <ul class="logout-mode">
                <li><a href="#">
                    
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="link-name">Logout</span>
                </a></li>

                <li class="mode">
                   

                <div class="mode-toggle">
               
                </div>
            </li>
            </ul>
        </div>
    </nav>
   
  

     <section class="dashboard">
       
      <div class="top">
            
        <i class="fas fa-bars  sidebar-toggle"></i>
  
        <div class="search-box">
            
          <form action="" method="get">
            <input class="search" type="text" name="q" placeholder="Search here...">
            
            <button class="btn btn-success">seach</button>
          </form>
           
      
        </div>
        
        
    </div>
        <hr>
        
        
        
        <div class="dash-content">
            <div class="overview">
                <hr>
                {% block content %}

               {% endblock content %}
               
              
            </div>

            
        </div>   
    </section> 


    <script src="{% static 'js/jquery-3.4.0.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>